version: "3.9"
services:
  cn:
    # image: ubuntu:16.04
    build: .
    # restart: always
    container_name: pipeline_cn
    ports:
      - "3000:3000"
    command:
      - bash
      - -c
      -
        tail -F anything;
        # apt-get update;
        # apt-get install git -y;
        # apt-get -y install sudo;
  # enb:
  #   # image: ubuntu:16.04 
  #   build: .
  #   restart: always
  #   container_name: pipeline_enb
  #   ports:
  #     - "3001:3001"
  #   command: 
  #     - bash
  #     - -c
  #     - 
  #       apt-get update;
  #       apt-get install git -y;
  #       apt-get -y install sudo;
  #       git clone https://gitlab.eurecom.fr/oai/openairinterface5g.git;
  #       cd openairinterface5g/;
  #       source oaienv;
  #       cd cmake_targets/;
  #       sudo su;
  #       curl -OL https://github.com/protocolbuffers/protobuf/releases/download/v3.14.0/$PROTOC_ZIP;
  #       PROTOC_ZIP=protoc-3.14.0-linux-x86_64.zip;
  #       sudo unzip -o $PROTOC_ZIP -d /usr/local bin/protoc;
  #       sudo unzip -o $PROTOC_ZIP -d /usr/local 'include/*';
  #       rm -f $PROTOC_ZIP;
  #       sudo apt-get install protobuf-compiler libprotobuf-dev libprotoc-dev;
  #       ./build_oai -I;
  #       ./build_oai --eNB;
  #       echo done;
  # gnb:
  #   build: .
  #   restart: always
  #   container_name: pipeline_gNB
  #   ports:
  #     - "3002:3002"
  #   command: 
  #     - bash
  #     - -c

